<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerta de senha Incorreta</title>
</head>
<body>
    <head>
        <title> Senha Incorreta</title>
        <script>
            alert("Senha incorreta")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</body>
</html>