*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    --black:#0D114F;
    --white:#FAFAFA;
    --red:#E83F5B;
    --light-blue:#E0ECFF;
    --blue:#3485FF;
    --background:#FBFCFF;
    --overlay:#040911;
    --icons-details:#A5B0C1;

    --grey-dark:#4D5E77;
    --grey-blue:#A1B2CD;
    --grey-medium:#D3D9E2;
    --grey-light:#E5EAF1;
    --grey-medium: #eaecf2;

    /* fonte padrão do navegador 16px = 100% formatei para 10px*/
    font-size: 62.5%;
}
html.periodNight{
    --black: #C291F2;
    --white: #FAFAFA;
    --red: #9C1A30;
    --light-blue: #4C0D8C;
    --blue: #9933FF;
    --background: #1F0835;
    --overlay: #220440;
    --Icons-details: #825EA6;

    --gray-dark: #9A75BF;
    --gray-blue: #BD86F4;
    --gray-medium: #D1C1E1;
    --gray-light: #9935FC;
}

body{
    display: flex;
    height: 100vh;
    background: var(--background);
}

body, button, input, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
}
.content{
    width: 100%;
    margin: 0 auto;
}
.sr-only{
    
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    /* overflow para tirar barra de rolagem*/
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
/*------- input and buttons ------*/
input, button, .button{
    border-radius: 0.8rem;
    height: 5rem;
}
button, .button{
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue);
    color: var(--white);
    transition: filter 0.2s;
    cursor: pointer;
}
button:hover, .button:hover{
    filter: brightness(1.2); 
}
button > img,
.button > img{
    margin-right: 1rem;
    width: 2rem;
}
button.outlined, .button.outlined{
    background: var(--white);
    color: var(--blue);
    border: 0.2rem solid var(--blue);
}
.button.outlined.dark-mode-copy {
    background: transparent;
    color: var(--blue);
    border: .2rem solid var(--blue);
}

.button.dark-mode-btn{
    background: transparent;
    color: var(--blue);
    border: .2rem solid var(--blue);
}
button.red,
.button.red{
    background: var(--red);
    color: var(--white);
}
button.grey,
.button.grey{
    background: var(--grey-light);
    color: var(--grey-dark);
}

/**** HEADER ******/

.content header{
    width: 80%;
    margin: 3.5rem auto;
}
.content header img{
    width: 16.7rem;
}
/*========= button Day / Night ===========*/

.day-period{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 0.5rem;
}
.day-period .image{
    display: flex;
    align-items: center;
    width: 8rem;
    height: 3rem;
    justify-content: space-between;
}
.image .sol{
    margin-top: 0.2rem;
    height: 3rem;
    width: 4rem;
    border: 2px solid var(--blue);
    border-radius: .8rem 0 0 .8rem;
    background: var(--white);
    margin-right: 0.2rem;
    z-index: 10;
}
.image .lua{
    margin-top: 0.2rem;
    height: 3rem;
    width: 4rem;
    border: 2px solid var(--blue);
    border-radius: 0 .8rem .8rem 0;
    background: var(--white);
    z-index: 10;
}
.image .sol:hover, .image .lua:hover{
    background: var(--grey-medium);
    cursor: pointer;
}
.day-period .image img{
    height: 2.5rem;
    width: 3.5rem;
}